### Neural networks recap in code
We will use pytorch to make a neural network

Imports

In [ ]:
import torch
import torch.nn as nn
import torch.nn.functional as F

##### Dataset
Iris Flower Dataset

In [3]:
import pandas as pd
df = pd.read_csv("https://gist.githubusercontent.com/netj/8836201/raw/6f9306ad21398ea43cba4f7d537619d0e07d5ae3/iris.csv")
df.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [5]:
df['variety'].unique()

array(['Setosa', 'Versicolor', 'Virginica'], dtype=object)

Create a model class that inherits nn.Modeule

- Input Layer (4 features of the flower: sepal.length, sepal.width, petal.length, petal.width)
- Hidden Layer 1
- Hidden Layer 2
- Output layer (3 classes of iris flowers)

In [6]:
class Model(nn.Module):
    def __init__(self, in_features=4, h1=8, h2=9, out_features=3):
        super().__init__() # calls constructor of nn.Module

        self.fc1 = nn.Linear(in_features, h1) # connecting input layer hidden layer 1
        self.fc2 = nn.Linear(h1, h2) # connecting hidden layer 1 to to hidden layer 2
        self.out = nn.Linear(h2, out_features) # connecting hidden layer 2 to output

    def forward(self, x):
        x = F.relu(self.fc1(x))
        x = F.relu(self,fc2(x))
        x = self.out(x)
        return x

Create Model

In [7]:
model = Model()
print(model)

Model(
  (fc1): Linear(in_features=4, out_features=8, bias=True)
  (fc2): Linear(in_features=8, out_features=9, bias=True)
  (out): Linear(in_features=9, out_features=3, bias=True)
)

Feature Engineering

In [8]:
df.tail()

     sepal.length  sepal.width  petal.length  petal.width    variety
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

I want to convert '''['variety']''' into number

In [15]:
df['variety'] = df['variety'].replace('Setosa',0.0)
df['variety'] = df['variety'].replace('Versicolor',1.0)
df['variety'] = df['variety'].replace('Virginica',2.0)
df.head()

   sepal.length  sepal.width  petal.length  petal.width  variety
0           5.1          3.5           1.4          0.2      0.0
1           4.9          3.0           1.4          0.2      0.0
2           4.7          3.2           1.3          0.2      0.0
3           4.6          3.1           1.5          0.2      0.0
4           5.0          3.6           1.4          0.2      0.0

In [16]:
df.tail()

     sepal.length  sepal.width  petal.length  petal.width  variety
145           6.7          3.0           5.2          2.3      3.0
146           6.3          2.5           5.0          1.9      3.0
147           6.5          3.0           5.2          2.0      3.0
148           6.2          3.4           5.4          2.3      3.0
149           5.9          3.0           5.1          1.8      3.0

Train Test Split

In [17]:
x = df.drop('variety', axis=1)
y = df['variety']

In [19]:
x

     sepal.length  sepal.width  petal.length  petal.width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [20]:
y

0      0.0
1      0.0
2      0.0
3      0.0
4      0.0
      ...
145    3.0
146    3.0
147    3.0
148    3.0
149    3.0
Name: variety, Length: 150, dtype: float64

In [22]:
X = x.values
Y = y.values

In [23]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2,random_state=41)